.chromestyle{
	width: 100%;
	font-weight: bold;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

.chromestyle ul{
	border: 1px solid #04799F;
	width: 100%;
	background: url(chromebg.jpg) center center repeat-x; /*THEME CHANGE HERE*/
	padding: 2px 0;
	margin: 0;
	text-align: left; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
	display: inline;
}

.chromestyle ul li a{
	color: #FFFFFF;
	padding: 6px 4px; /* tava 4  onde ta 5 */
	margin: 0;
	text-decoration: none;
	border-right: 1px solid #09688C;
}

.chromestyle ul li a:hover{
	background: url(chromebg-over.jpg) center center repeat-x; /*THEME CHANGE HERE*/
}

.chromestyle ul li a[rel]:after{ /*HTML to indicate drop down link*/
	content: " "; /*content: " v";*/
/*content: " " url(downimage.gif); /*uncomment this line to use an image instead*/
}


/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
	position:absolute;
	top: 0;
	border: 1px solid #126983; /*THEME CHANGE HERE*/
	border-bottom-width: 0;
	font:normal 12px Verdana;
	line-height:18px;
	z-index:100;
	background-color: #126983;
	width: 200px;
	visibility: hidden;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#3B3B3B,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
	}


.dropmenudiv a{
	width: auto;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid #0B8E9D; /*THEME CHANGE HERE*/
	padding: 2px 0;
	text-decoration: none;
	font-weight: bold;
	color: #FFCC33;
}

* html .dropmenudiv a{ /*IE only hack*/
	width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
	background-color: #0B8E9D;
}