html {
	padding:0px;
	margin:0px;
}
body {
	background-color: #133542;
	background-image:url(imagens/fundo.jpg);
	background-repeat:repeat-x;
	font-size: 12px;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	color:#564b47;
	text-align:center;
	margin:0px;
	padding:0px;
}
p,pre, h1,h2,h3,h4 {
	margin:0px 10px 10px 10px;
}
h1 {
	font-size:14px;
	color:#455B87;
}
h2 {
	font-size:12px;
	color:#EC8711;
}
h3 {
	font-size:10px;
	font-weight:normal;
	color:#757575;
}
a {
	color: #113371;
	font-size: 11px;
	background-color:transparent;
	text-decoration: none;
}
pre {
	color: #564b47;
	font-size: 11px;
	background-color:transparent;
	font-family: Courier, Monaco, Monospace;
}
input {
	font-size:12px;
	font-weight:bold;
	background-color:#E0E0E0;
	border:1px solid #727272;
}

#box {
	width:790px;
	margin: 0px auto;
	padding:0px;
	text-align:left;
	height:100%;
}
#content {
	width:767px;
	padding:0px;
	float:left;
	background-color:#1e576f;
	overflow: auto;
	background-image:url(imagens/fundo_conteudo.jpg);
	background-repeat:repeat-x;
}
#head {
	background-color:transparent;
}
#head h1 {
	font-size: 11px;
	text-transform:uppercase;
	text-align: right;
	color: #564b47;
	background-color: #90897a;
	padding:5px 15px;
	margin:0px
}
#head p {
	padding:10px;
	margin:0px;
}

#menu_lateral {
	float:right;
	width:200px;
	margin:20px;
	border:1px solid #CACEFF
}
#menu_lateral h1{
	background-color:#FFCB47;
	width:100%;
	margin:0px;
	text-align:center;
}
#menu_lateral p{
	padding:0px 2px;
}

#conteudo {
	width: 700px;
	margin-top: -2px;
/*	margin-right: 260px;*/
	margin-bottom: 0;
	margin-left: 17px;
}

#conteudo_meio {

	width: 460px;

	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;

	background-image:url(imagens/fundo_papel_branco.jpg);
	background-repeat:no-repeat;
	background-color:#FFFFFF;
}

#conteudo_direita {
	width: 220px;
	float:right;
	background-image:url(imagens/fundo_login.jpg);
	background-repeat:no-repeat;
}

#conteudo_login{
	padding-left: 8px;
	padding-top: 12px;
}

p.iepara{ /*Conditional CSS- For IE (inc IE7), create 1em spacing between menu and paragraph that follows*/
	padding-top: 1em;
}
.style1 {
	color: #E16204
}

	.msg_erro{
	/*	background-image: url(imagens/cross.png);
		background-repeat: no-repeat;
		background-position:left;*/
		background-color:#FBE3E4;

		width:90%;
		border:2px solid #FBC2C4;
		color:#D12F19;
		margin-top:5px;
		margin:0 auto;
		text-align:center;
		padding:5px 5px 0px 5px;
	}
		
	.msg_erro ul{
		text-align:left;
		margin-left:100px;
	}

	.msg_erro span{
		font-size:12px;
		font-weight:bold;
	}	





/* Info */

	div.info {
		width: 80%;
		margin: 10px auto;
		border: 1px solid #d3e6fe;
		background: #fff url('imagens/info_bg.jpg') repeat-x;
		font-size: 0.9em;
		padding: 5px 5px 15px 5px;
		position: relative;
	}
	
	div.info h2 {
		height: 31px;
		margin: 5px 0 -5px 10px;
		padding: 5px 0 0 0;
		font-size: 1.3em;
		text-indent: 30px;
		background: url('imagens/info_ico.gif') no-repeat;
	}
	
	div.info p, div.attention p {
		text-indent: 0;
	}
	
	/* Atención */

	div.attention {
		width: 80%;
		margin: 10px auto;
		border: 1px solid #f9ffa8;
		background: #fff url('imagens/att_bg.jpg') repeat-x;
		font-size: 0.9em;
		padding: 5px 5px 15px 5px;
		position: relative;
	}
	
	div.attention h2 {
		height: 31px;
		margin: 5px 0 -5px 10px;
		padding: 5px 0 0 0;
		font-size: 1.3em;
		text-indent: 30px;
		background: url('imagens/att_ico.gif') no-repeat;
	}
	
/* Contenido */

	div#contenido {
		width: 80%;
		margin: auto;
		margin-top: 20px;
		margin-bottom: 50px;
		padding: 10px 0 0 0;
		background: #fff url('imagens/cont_bg.jpg') no-repeat left top;
	}
	
	div#contenido h2 {
		font-size: 1.5em;
		margin: 10px 0 0 15px;
		color: #30cffe;
	}