.asdf_body{
	padding: 20px;
	background-color: #FFF;
    font: 100.01% "Trebuchet MS",Verdana,Arial,sans-serif
}
h1,h2,p{
	margin: 0 10px
}
h1{
	font-size: 250%;
	color: #FFF
}
h2{
	font-size: 200%;
	color: #f0f0f0}
p{
	padding-bottom:1em
}
h2{
	padding-top: 0.3em
}
div#nifty{
	margin: 0 10%;
	background: #9BD1FA
}

b.rtop, b.rbottom{
	display:block;
	background: #FFF
}
b.rtop b, b.rbottom b{
	display:block;
	height: 1px;
    overflow: hidden;
	background: #9BD1FA
}
b.r1{
	margin: 0 5px
}
b.r2{
	margin: 0 3px
}
b.r3{
	margin: 0 2px
}
b.rtop b.r4, b.rbottom b.r4{
	margin: 0 1px;
	height: 2px
}
